/*
--------
RESET
--------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------
MAIN
--------
*/

.container {
    height: 100vh;
    max-width: 71.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    height: 21.875rem;
    width: 43.75rem;
    position: relative;
}

.item {
    height: 100%;
    display: none;
}

.item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.previous,
.next {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ccc;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    line-height: 1.25rem;
    z-index: 10;
}

.previous {
    top: .625rem;
}

.next {
    bottom: .625rem;
}

.show {
    display: block;
}

/*
--------
EFFETTI
--------
*/

.next:hover,
.previous:hover {
    cursor: pointer;
}